<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link href="/css/site.css" rel="stylesheet">
				<style>
						body { max-width:50em; margin:auto; color:black; background-color:#eee; }
						ul.nav { padding-left:0; text-align:right; }
						.nav li { display:inline; margin-right:1em; }
				</style>
    </head>
    <body>
				<ul class="nav">
						<li><a href="index.html">Home</a>
						<li><a href="download.html">Download</a>
						<li><a href="release-notes.html">Release Notes</a>
						<li><a href="step-by-step.html">Tutorial</a>
						<li><a href="manual.html">Manual</a>
						<li><a href="developer-guide.html">Developer Guide</a>
						<li><a href="faq.html">FAQ</a>
						<li><a href="more-docs.html">More docs</a>
				</ul>

        $body$

				<em>2014/11/4: The site is going through some changes, for now please enjoy the old-school styling.</em>

    </body>
</html>
