server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name your.domain;

  access_log /var/log/nginx/hledger_access.log main;
  error_log /var/log/nginx/hledger_error.log info;

  location / {
    proxy_pass http://127.0.0.1:6001;
  }
}
