.*
_*
[0-9]*
bin/*
cabal-dev*
cabal.sandbox.config
/config
*/dist/
*.dyn_hi
*.dyn_o
*.hi
hledger-web/static/tmp/
hledger-web/yesod-devel/
log
/messages
*.o
old
/static
t.*
tags
TAGS
/templates
tests/addons/hledger-*
tools/generatejournal
tools/simplebench
tt.*
ttt.*
tttt.*
ttttt.*
profs/*
