# For troubleshooting: git check-ignore -v --no-index PATHS

# misc stuff
_*
*~
*.o
\#*
.\#*
.trash
*.gz
*.zip

# dev stuff
.build
.idea
*.iml
.shake
.stack*
.tmp
.vscode
tags
TAGS
.obsidian
stylish-haskell.yaml
*.m4-e

# haskell stuff
*.dyn_hi
*.dyn_o
*.hi
*.p_o
*.hp
*.prof
package.yaml-e
.cabal-sandbox/
cabal-dev*
cabal.project.local
cabal.sandbox.config
dist/
dist-newstyle/
.ghc.environment.*
stack*.yaml.lock
.stack-work/
/Shake
/.shake.html
Setup
modules*.svg
packages*.svg
/*.packages
/headroom-templates
.headroom.yaml

# ignore typical test file names (but not dirs)

/[0-9]*
!/[0-9]*/

[a-z0-9]
![a-z0-9]/

[a-z0-9][a-z0-9]
![a-z0-9][a-z0-9]/

/[a-z0-9].*
![a-z0-9].*/

/[a-z0-9][a-z0-9].*/
![a-z0-9][a-z0-9].*/

/test*

# hledger-web stuff
/config
/messages
/static
/templates
hledger-web/static/tmp/
hledger-web/yesod-devel/
.hledger-web_client_session_key.aes
/hledger-web/demo/

# hledger stuff
#*.webmanual.md
old
.old
/log
*.log
/profs/*
/*.prof.*
/tmp
/bench*

#/bin - see bin/.gitignore

/examples
#/examples/[1-9]*.journal

/hledger/test/cli/addons
/hledger/hledger.md
/hledger-ui/hledger-ui.md
/hledger-web/hledger-web.md
/tools/generatejournal
/tools/relnotes
/tools/simplebench
/tools/pandoc-demote-headers
/tools/pandoc-drop-html-blocks
/tools/pandoc-drop-html-inlines
/tools/pandoc-drop-links
/tools/pandoc-drop-notes
/tools/pandoc-drop-toc
/tools/generatetimeclock
/hledger-lib/test/doctests
/examples/edk-hledger-ui-mobile.gif
/examples/tty-ui-1.gif
/site/**
!/site/src/*.md
/finance
/examples/demo/
/doc/ghrelnotes.md
/doc/RELEASING2.md
/checks
/tools/docshelltest
.latest.*
.github/workflows/ci-arm.yml
