# misc stuff
_*
*~
*.o

# dev stuff
.build
.idea*
.shake
.tmp
.vscode
tags
TAGS

# temp files
[a-z0-9]
[a-z0-9].*
[a-z0-9][a-z0-9]
[a-z0-9][a-z0-9].*
[0-9]*

# haskell stuff
*.dyn_hi
*.dyn_o
*.hi
*.p_o
*.hp
cabal-dev*
cabal.project.local
cabal.sandbox.config
dist/
dist-newstyle/
/Shake
/.shake.html
.stack-work/

# hledger stuff
old
log
profs/*
test.hs
tests/addons/hledger-*
tools/generatejournal
tools/simplebench
*/doc/*.[0-9]
*/doc/*.[0-9].txt
*/doc/*.[0-9].info
/hledger.org

# hledger-web stuff
/config
/messages
/static
/templates
hledger-web/static/tmp/
hledger-web/yesod-devel/
.hledger-web_client_session_key.aes
