Clint Adams <clint@softwarefreedom.org> <clint@debian.org>
Marko Kocić <marko.kocic@gmail.com>
Marko Kocić <marko.kocic@gmail.com> <marko@euptera.com>
Michael Snoyman <michael@snoyman.com>
Nick Ingolia <nick@ingolia.org>
Mykola Orliuk <virkony@gmail.com>
Oliver Braun <ob@obraun.net>
Ryan Desfosses <ryan@desfo.org> <rdesfo@users.noreply.github.com>
Sergei Trofimovich <siarheit@google.com> <slyfox@community.haskell.org>
Thomas R. Koll <tomk32@gmail.com> <tomk32@tomk32.de>
Tim Docker <tim@dockerz.net>
Trygve Laugstøl <trygvis@inamo.no>
Xinruo Sun <xiaoruoruo@gmail.com>
gwern <gwern@gwern.net> <gwern0@gmail.com>
