# An example hledger config file, for you to customise.
# This declares extra options/arguments to be added to your hledger commands.
# Save as ~/.hledger.conf, or ~/.config/hledger/hledger.conf, or hledger.conf
# in or above your current directory, and hledger will use it automatically.
#
# If you use a config file, be careful about what you put in it.
# It changes hledger's behaviour, so it's easy to confuse yourself,
# disrupt reports, or break scripts/applications which use hledger.
# If a command is not working as expected, run with --debug to troubleshoot.
# To avoid using any config file, you can run hledger with -n/--no-conf.
#
# You can also choose a config file with --conf, or add a shebang line (eg
# #!/usr/bin/env -S hledger --conf) to config files and run them like scripts.


# 1. General options. These will be used with all commands which support them.

# Show prettier tables in reports. Recommended unless your font doesn't
# support box drawing characters.
--pretty

# Maybe don't check balance assertions all the time ? When you're ready,
# check them with -s or hledger check assertions.
--ignore-assertions

# Always infer these things ? Why not.
--infer-costs
--infer-equity
--infer-market-prices


# 2. Command-specific options.

[print]
--explicit     # show missing amounts
--show-costs   # show costs

[help]
--man          # if you prefer man over info

# Set your preferred options for the balance commands.
# You can override these by adding more options on the command line.
[balance]            --tree --depth 3 -b '3 months ago'
[balancesheet]       --tree --depth 3 -b '3 months ago'
[balancesheetequity] --tree --depth 3 -b '3 months ago'
[cashflow]           --tree --depth 3 -b '3 months ago'
[incomestatement]    --tree --depth 3 -b '3 months ago'

# You can set options/arguments for addon commands too (when started by
# `hledger CMD`). The -- argument needed at command line is not needed here.

# Some defaults for hledger-ui: start in the Cash accounts screen,
# watch for file changes, set a depth limit, hide zeros and equity accounts.
[ui] --cash --watch -3 -E not:type:e

[web] --port 5050 --allow edit

[iadd] --date-format %Y-%m-%d

#[interest]
# --annual 0.05
# --30-360
# --source SRCACCT
# --target DSTACCT
# ACCT
