#!/usr/bin/env -S hledger --conf
# hledger.conf - extra options(/arguments) to be added to hledger commands.
# This can be placed in current dir or above, or ~/.hledger.conf, or ~/.config/hledger/,
# or specified with --conf, or executed with a shebang line like the above.

# Options/arguments for all commands (which support them):

# don't check balance assertions by default (run with -s to check them)
--ignore-assertions

# always infer these
--infer-costs
--infer-equity
--infer-market-prices

# always show prettier tables in terminal reports
--pretty


# Options/arguments for specific commands:

[print]
--explicit     # show missing amounts
--show-costs   # show costs

# [help] --man  # prefer man over info

# balance commands: use these defaults
[balance]            --tree -p 'monthly from 3 months ago' --depth 3
[balancesheet]       --tree -p 'monthly from 3 months ago' --depth 3
[balancesheetequity] --tree -p 'monthly from 3 months ago' --depth 3
[cashflow]           --tree -p 'monthly from 3 months ago' --depth 3
[incomestatement]    --tree -p 'monthly from 3 months ago' --depth 3

# hledger-ui (when started via `hledger ui`):
# start in Cash accounts screen, limited to depth 3, and watch for changes.
# The -- argument needed on the command line is not needed here.
[ui] --cash -3 --watch
