<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>hledger.org - $title</title>
    <link rel="stylesheet" type="text/css" href="$root/style.css" />
  </head>
  <body>
    <div style="text-align:center;">
      <!-- <a href="$root/"><img src="$root/logo.jpg" border="0" ALT="" /></a> -->
    </div>
    <div id="navigation">
      <a href="$root/README.html">Home</a>
      <a href="$root/README2.html">Development</a>
      <a href="$root/MANUAL.html">Manual</a>
      <a href="$root/NEWS.html">News</a>
      <a href="$root/SCREENSHOTS.html">Screenshots</a>
      <a href="http://demo.hledger.org">Demo</a>
    </div>
    $body

    <div id="footer">
      <hr />
      &copy; 2007-2010 <a href="http://joyful.com/">Simon Michael</a> and contributors
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3456280-3");
pageTracker._trackPageview();
} catch(err) {}
</script>

  </body>
</html>
