<div ng-controller="AccountsController as accountsList">
  <h2>Accounts</h2>
  <div class="form-group">
    <label>Search: <input ng-model="account_name"/></label>
  </div>
  <ul class="unstyled accounts">
    <li ng-repeat="account in accounts | filter: account_name" ng-include="'account.html'"></li>
  </ul>
  <script type="text/ng-template" id="account.html">
    <a href="#/accounts/{{account.aname}}">{{ account.aname|accountNameNode }}</a>
    <div class="balances">
      <div class="balance" ng-repeat="balance in account.aibalance">
        <span class="quantity">{{balance.aquantity}}</span>
        <span class="commodity commodity-side-{{balance.astyle.ascommodityside}}">{{balance.acommodity}}</span>
      </div>
    </div>
    <ul ng-if="account.asubs">
      <li ng-repeat="account in account.asubs | filter: account_name" ng-include="'account.html'"></li>
    </ul>
  </script
</div>
