<div ng-controller="AccountsController as accountsList">
  <h2>Accounts</h2>
  Search: <input ng-model="account_name"/>
  <ul class="unstyled accounts">
    <li ng-repeat="account in accounts | filter: account_name" ng-include="'account.html'"></li>
  </ul>
  <script type="text/ng-template" id="account.html">
    <a href="#/accounts/{{account.name}}/journal">{{account.name}}</a>
    <span class="balance">{{account.balance}}</span>
    <ul ng-if="account.children">
      <li ng-repeat="account in account.children | filter: account_name" ng-include="'account.html'"></li>
    </ul>
  </script>
</div>
