fields _, date, _, description, account1, amount, _
# checking brackets in a field matcher are captured...
if %account1 liabilities:jon:(.*)
# ...and interpolated into field assignments (real-life use-case #2)
    account1 \1
# checking brackets in a record matcher are captured, including
# nesting...
if Zettle.*(Robert W. (Bell)).*£
# ... and the interpolation token numerical offset is local to
# this match group; and the token is interpolated into surrounding
# text
    comment1 Bell=\2.
# Match the YYY-MM of a date field and warp the posting date, useful
# for credit cards (real-life use-case #1))
if %date (....-..)-..
    comment2 date:\1-01
