/* hledger web ui styles */

/* font families & sizes */
/* overspecified for cross-browser robustness */
body                        { font-family:helvetica,arial,"sans serif"; }
pre                         { font-family:courier,"courier new",monospace; }
#addform input.textinput    { font-family:courier,"courier new",monospace; font-size:small; }
#editform textarea          { font-family:courier,"courier new",monospace; font-size:small; }
.nav2                       { font-size:small; }
#filterform                 { font-size:small; }
.topleftlink                { font-size:small; }
.toprightlink               { font-size:small; }
#journalinfo                { font-size:small; }
.help                       { font-size:smaller; }
.form                       { font-size:small; }
.journalreport              { font-size:small; }
.balancereport              { font-size:small; }
.registerreport             { font-size:small; }
#showmoreaccounts           { font-size:small; }
/* #addformlink                { font-size:small; } */
/* #editformlink               { font-size:small; } */

body                        { margin:0; }
#navbar                     { padding:2px; }
.topleftlink                { float:left; margin-right:1em; padding:2px; }
.toprightlink               { float:right; margin-left:1em; padding:2px; }
#navbar h1                  { display:inline-block; vertical-align:top; margin:0; }
#journalinfo                { vertical-align:middle; margin:0; }
/* #navbar                  { padding:4px; background-color:#eee; border-bottom:2px solid #ddd; } */
#messages                   { color:red; background-color:#ffeeee; margin:0.5em;}
.help                       { font-style: italic; }
.helprow td                 { padding-bottom:8px; }
#content                    { margin:1em; }
#navlinks                   { margin-bottom:1em; }
.navlink                    { }
.navlinkcurrent             { font-weight:bold; }
.form                       { margin:1em; }

#filterformdiv              { margin:0 0 1em 0; white-space:nowrap; }
#filterform                 { margin:0; }
#filterform span            { padding:4px; }
#stopfilterlink             { font-weight:bold; }
.filtering                  { background-color:#ddd; }

.current                    { font-weight:bold; background-color:#ddd; }
.description                { padding-left:1em; }
.account                    { white-space:nowrap; padding-left:1em; }
.amount                     { white-space:nowrap; padding-left:1em; }
.balance                    { white-space:nowrap; padding-left:1em; }
.account, .amount, .balance { width:2em; }  /* minimum width */
.positive                   { }
.negative                   { color:#800; }
/* .odd                     { background-color:#e8e8e8; } */
/* .even                    { background-color:#e8f8e8; } */
/* .even                    { background-color:#f0fff0; } */

table.journalreport         { border-spacing: 0; }
.journalreport td           { border-top:thin solid #eee; }
.journalreport pre          { margin-top:0; }

.ledger .accounts           {padding-right:1em; margin-right:1em; border-right:thin solid #eee; }
.ledger .register           { }

div.accounts                { margin-bottom:5em; }

.balancereport tr           { vertical-align:top; }
table.balancereport         { border-spacing:0; }
.ledger .balancereport td   { padding:0; }
.totalrule td               { border-top:thin solid black; }

table.registerreport        { border-spacing:0; }
.registerreport tr          { vertical-align:top; }
.registerreport td          { padding-bottom:0.2em; }
.registerreport .date       { white-space:nowrap; }
.firstposting td            { }
.registerreport .odd        { background-color:#f0f0f0; }

#addform input.textinput    { background-color:#eee; padding:4px; }
#addform table              { }
#addform #addbuttonrow      { text-align:right; }
/* #editform                   { width:95%; } */
#editform textarea          { width:100%; background-color:#eee; padding:4px; }
