../tools/pandoc-add-toc
../tools/pandoc-capitalize-headers
../tools/pandoc-demote-headers
../tools/pandoc-drop-html-blocks
../tools/pandoc-drop-html-inlines
../tools/pandoc-drop-links
../tools/pandoc-drop-man-blocks
../tools/pandoc-drop-notes
../tools/pandoc-drop-toc
../tools/pandoc-drop-web-blocks
