I have released hledger and hledger-web 0.22.

hledger is a command-line tool and haskell library for tracking
financial transactions, which are stored in a human-readable plain
text format. In addition to reporting, it can also help you record new
transactions, or convert CSV data from your bank. Add-on packages
include hledger-web (providing a web interface), hledger-irr and
hledger-interest.  hledger is inspired by and largely compatible with
Ledger. For more, see http://hledger.org .

Install it:

cabal update; cabal install hledger [hledger-web]

For more installation help, see http://hledger.org/MANUAL.html#installing .
Or, sponsor a ready-to-run binary for your platform: http://hledger.org/download

Release notes (http://hledger.org/release-notes#hledger-0.XX):

PREAMBLE

...

**Release contributors:**

...

POSTAMBLE
