table {
    margin-bottom:1em;
}
code {
		background-color:inherit;
		color: inherit;
}
pre {
    font-size:small;
    margin-left:2em;
}
pre.shell, pre.journal, pre.csv, pre.rules, pre.timeclock, pre.timedot {
		/* clear:both; */
		background-color:inherit;
		border:none;
		/* margin-left:1em; */
		/* margin-right:2em; */
		border-radius:6px;
		/* display:inline-block; */
		display:table;
		/* background-color:#e0e0e0; */
    font-size:small;
    /* white-space:nowrap; */
}
pre > code {
    white-space:pre;
}
pre.shell::first-line {
		font-weight:bold;
}
.clear {
		clear:both;
}
h4, h5, h6 {
		clear:both;
}
.display-table {
		display:table;
}
pre.journal {
		background-color:#efe;
		border:thin solid #cec;
		/* border:none; */
}
pre.csv {
		background-color:#cce;
		border:thin solid #aad;
		/* border:none; */
}
pre.rules {
		background-color:#eef;
		border:thin solid #cce;
		/* border:none; */
}
pre.timeclock {
		background-color:#ffe;
		border:thin solid #eec;
		/* border:none; */
}
pre.timedot {
		background-color:#ffe;
		border:thin solid #eec;
		/* border:none; */
}
pre.shell {
		background-color:white;
		border:none;
		border-left:2px solid black;
		border-top:2px solid black;
		border-top-right-radius:0;
		border-bottom-left-radius:0;
		/* padding-top:0; */
		/* padding-bottom:0; */
}

.shell.continued {
		background-color:white;
		border-top:none;
		border-top-left-radius:0;
}
.shell.continued::first-line, .nobold::first-line {
		font-weight:normal;
}
.bold {
		font-weight:bold;
}
.right {
    float:right;
}
.navbar       { font-size:x-large;  }
.navbar-brand { font-weight:bold; font-size:xx-large; }
.navbar-nav   { margin-left:1em;  }

/* table of contents */
/* based on https://github.com/blaenk/blaenk.github.io/blob/source/provider/scss/_article.scss */
#toc {
		max-width:40%;
    margin-top: 1em;
}
/* move it to the right */
#toc { /* right */
    float: right;
		margin:0 0 2em 2em;
    padding: 0;
}
#toc (@media screen and (max-width: 600px)) {
		float: none;
		padding: 0;
		margin-left: 0;
		margin-top: 10px;
}
#toc:after {
		clear: both;
}
/* margins and fonts */
#toc p {
		font-weight: bold;
		margin-top: 0;
}
#toc > ol {
		margin-left: 0;
		margin-top: 5px;
		/* font-size: 14px; */
}
#toc ol {
		padding-left:0;
		/* margin-left:1em; */
}
#toc > ol (@media screen and (max-width: 600px)) {
		font-size: 13px;
}
#toc li {
		margin-top: 0;
		display: block;
}
#toc li (@media screen and (max-width: 600px)) {
		line-height: 1.69;
}
/* shrink subitems */
#toc > ol > li > ol ol {
		font-size:95%;
}
/* indent subitems */
#toc > ol > li > ol li {
		padding-left:1em;
}
/* embolden/separate top items */
#toc > ol > li {
  padding-top:1em;
  font-weight:bold;
}
#toc > ol > li > ol {
  font-weight:normal;
}
/* hide top item(s) */
/* #toc > ol > li > a { display:none; } */
/* #toc > ol > li > ol > li { padding-left:0; } */
/* number top items */
/* #toc > ol { counter-reset: item; } */
/* #toc > ol > li:before { */
/* 		content: counters(item, ".") ". "; */
/* 		counter-increment: item; */
/* } */
/* #toc > ol > li > ol > li { */
/* 		padding-left:2em; */
/* } */

/* */

/* documentation version selector */
#versions {
}

h2 {
		margin-top:1.5em;
}
footer {
    padding: 1em;
    color: gray;
    text-align: center;
    /* font-size: 70%; */
}


/* div.container { max-width: 75em; } */

/* /\* ul > li > ul > li { *\/ */
/* /\*   list-style-type:none; *\/ */
/* /\* } *\/ */

/* div#nav { padding-top: 2em; } */
/* /\* div#nav ul { margin-top: 0; margin-left: 1em; margin-bottom: 0; } *\/ */
/* /\* div#nav ul li { list-style: none; padding-bottom: 0.1em; } *\/ */
/* div#nav ul li.current { */
/*   /\* list-style: square; *\/ */
/*   font-weight:bold; */
/* } */

/* div#nav ul li.current { */
/*   /\* list-style: square; *\/ */
/*   font-weight:bold; */
/* } */

/* ul.nav ul { */
/*   padding-left:30px; */
/* } */
/* /\* ul.nav ul li { *\/ */
/* /\*   list-style:none; *\/ */
/* /\* } *\/ */

/* ul.nav li a { */
/*   padding:4px 10px; */
/* } */

/* code { */
/*     color: #226600; */
/*     font-weight:bold; */
/* } */

/* pre { */
/*     background: #F8F8F8; /\* The same as the GitHub background color since I'm using their syntax.css *\/ */
/*     padding: 0 2em 0 2em; */
/* } */

/* .description { */
/*     font-size: 1.2em; */
/*     margin-bottom: 30px; */
/*     margin-top: 30px; */
/*     font-style: italic; */
/* } */

/* .download { */
/*     float: right; */
/* } */
/* .downloadoption { */
/*     background: #eee; */
/*     padding: 10px 0 10px 0; /\* Keep image and text away from top and bottom *\/ */
/*     margin-bottom: 10px; /\* Ensure there is some whitespace between options *\/ */
/* } */
/* .downloadoptionimage { */
/*     float: left; */
/*     width: 90px; */
/*     margin-left: 10px; /\* Offset from left border a little *\/ */
/* } */
/* .downloadoptiontext { */
/*     padding-left: 110px; /\* Offset from image *\/ */
/*     padding-right: 10px; /\* Offset from right border of the download option *\/ */
/* } */

/* .screenshotframe { */
/*     text-align: center; /\* The screenshot and it's border should be in the center of the page *\/ */
/* } */
/* .screenshot { */
/*     border: 10px solid #F8F8F8; /\* Soft grey border *\/ */
/* } */

/* .alert { */
/*     width:50%;  */
/*     margin:1em;  */
/*     padding:1em;  */
/*     font-size:smaller;  */
/*     border:thin solid hsl(0,100%,50%);  */
/*     background-color:hsl(0,100%,95%);  */
/*     font-style:italic;" */
/* } */

