html {
  overflow-y:scroll;
}

body {
    margin: auto;
    max-width: 42em;
    margin-top: 1.0em;
    background-color: #fff;
    font-family: "helvetica","arial", "sans serif";
}

div#navigation {
    /* text-align: center; */
    /* border-bottom: 4px solid #226600; */
}

div#navigation a {
    color: white;
    font-weight:bold;
    font-family:sans-serif;
    /* font-size:small; */
    text-decoration: none;
    background-color: #226600;
    padding: 3px 10px 3px 10px;
    margin: 0 5px 0 0;
	border-radius:.3em;
}

div#navigation a.offsite {
    background-color: #113300;
}

div#navigation a:active {
  position:relative;
  top:1px;
}

#footer {
    padding-top: 1em;
    /* font-size: 70%; */
    color: gray;
    text-align: center;
}

code {
    color: #226600;
    font-weight:bold;
}

#container {
    margin: 0 auto;
    width: 700px;
}
h1 {
    font-size: 2.5em;
    /* margin-top: 0.7em;  */
    /* margin-bottom: 0.7em;  */
}
h2 {
    font-size: 1.8em;
    /* margin-top: 0.7em;  */
    /* margin-bottom: 0.6em;  */
}
h3 {
    font-size: 1.6em;
    /* margin-top: 0.7em;  */
    /* margin-bottom: 0.5em;  */
}
h4 {
    font-size: 1.4em;
    /* margin-top: 0.7em;  */
    /* margin-bottom: 0.4em;  */
}
h5 {
    font-size: 1.2em;
    margin-top: 1em;
    /* margin-bottom: 0.3em;  */
}
h6 {
    font-size: 1em;
    margin-top: 0.5em;
    /* margin-bottom: 0.2em;  */
}
h7 {
    font-size: 1em;
    margin-top: 0.5em;
    /* margin-bottom: 0.2em;  */
}
h8 {
    font-size: 1em;
    margin-top: 0.5em;
    /* margin-bottom: 0.2em;  */
}
h1, h2, h3, h4, h5, h6, h7, h8 {
    margin-bottom: 0em;
    color:black;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, h8 a {
    text-decoration:none;
    color:black;
}
a {
}
.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}
.download {
    float: right;
}
pre {
    background: #F8F8F8; /* The same as the GitHub background color since I'm using their syntax.css */
    padding: 0 2em 0 2em;
}
hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}
img {
    border: 0px;
}
.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}
.downloadoption {
    background: #eee;
    padding: 10px 0 10px 0; /* Keep image and text away from top and bottom */
    margin-bottom: 10px; /* Ensure there is some whitespace between options */
}
.downloadoptionimage {
    float: left;
    width: 90px;
    margin-left: 10px; /* Offset from left border a little */
}
.downloadoptiontext {
    padding-left: 110px; /* Offset from image */
    padding-right: 10px; /* Offset from right border of the download option */
}
.screenshotframe {
    text-align: center; /* The screenshot and it's border should be in the center of the page */
}
.screenshot {
    border: 10px solid #F8F8F8; /* Soft grey border */
}

#TOC {
    float:right;
    font-size:small;
    margin:2em 0 1em 1em;
    border:thin solid #ddd;
    background-color:#f0f0f0;
}

#TOC ul {
    list-style-type: none;
    padding:0 1em 0 1em;
}

.alert {
    width:50%; 
    margin:1em; 
    padding:1em; 
    font-size:smaller; 
    border:thin solid hsl(0,100%,50%); 
    background-color:hsl(0,100%,95%); 
    font-style:italic;"
}