# sample:
#"12/04/2009","-12.07","*","","CHECK CRD PURCHASE 12/02 EUPHORIALOVESRAWVOL ..."
#"12/04/2009","-789.00","*","2392","CHECK # 2392"
#
# MCC codes (http://www.irs.gov/irb/2004-31_IRB/ar17.html) are good to match on, eg \?MCC.5812

account1    assets:personal:bank:wf:checking:available
skip        0
fields      date,amount,_status,code,description
date-format %-m/%-d/%Y
currency    $

include     .common.rules

#"03/01/2016","-150.00","*","","RECURRING TRANSFER TO ... SAVINGS"
if
TRANSFER TO.*SAVINGS
 account1 assets:personal:bank:wf:checking:month:autosave
 account2 assets:personal:bank:wf:savings:prudent reserve

if
MONTHLY SERVICE FEE
ATM TRANSACTION FEE
FOREIGN CURR CONV
OVERDRAFT TRANSFER FEE
BANKING THRU SOFTWARE:FEE
INTERNATIONAL PURCHASE TRANSACTION FEE
WIRE TRANS SVC CHARGE
FEE FOR TRANSFER
VISA ISA FEE
QUICKEN BANKING
NON-WF.*FEE
FINANCE CHARGE
 account1    assets:personal:bank:wf:checking:available
