<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/js/highslide/highslide.css" />
        <script type="text/javascript" src="/js/highslide/highslide.js"></script>
        <script type="text/javascript">
            hs.graphicsDir = '/js/highslide/graphics/';
            hs.outlineType = 'rounded-black';
            hs.captionEval = 'this.thumb.title';
        </script>
    </head>
    <body>
        <div style="text-align:center;">
             <!-- <a href="/"><img src="/logo.jpg" border="0" ALT="" /></a> -->
        </div>
        <div id="navigation">
            <a href="/README.html">Home</a>
            <a href="/DOWNLOAD.html">Download</a>
            <a href="/DOCS.html">Docs</a>
            <a href="/DEVELOPMENT.html">Contribute</a>
            <a href="http://hledger.org/wiki" class="offsite">Wiki</a>
            <a href="http://demo.hledger.org" class="offsite">Demo</a>
        </div>
        $body$
        <div id="footer">
            <hr />
            &copy; 2007-2013 <a href="http://joyful.com/">Simon Michael</a> and contributors
        </div>

        <script type="text/javascript">
            var gaJsHost = (('https:' == document.location.protocol) ? 'https://ssl.' : 'http://www.');
            document.write(unescape('%3Cscript src=\'' + gaJsHost + 'google-analytics.com/ga.js\' type=\'text/javascript\'%3E%3C/script%3E'));
        </script>
        <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker('UA-3456280-3');
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
